<div class="sidebar">
  <h2>RecycleGo Admin</h2>
  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/aktivitas">Aktivitas</a></li>
    <li><a href="/edukasi">Edukasi</a></li>
    <li><a href="/reward">Reward</a></li>
    <li><a href="/user">User</a></li>
  </ul>
</div>
